<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>viewMedication</servlet-name>
        <servlet-class>viewAllMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedMedication</servlet-name>
        <servlet-class>viewSelectedMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSupplier</servlet-name>
        <servlet-class>viewSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSupplier</servlet-name>
        <servlet-class>addSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTry</servlet-name>
        <servlet-class>viewTry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSuppliers</servlet-name>
        <servlet-class>addSuppliers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicationRet</servlet-name>
        <servlet-class>EditMedicationRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedication</servlet-name>
        <servlet-class>EditMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSupplierEdit</servlet-name>
        <servlet-class>viewSupplierEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedication</servlet-name>
        <servlet-class>UpdateMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllSupplier</servlet-name>
        <servlet-class>viewAllSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSupplier</servlet-name>
        <servlet-class>deleteSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplier</servlet-name>
        <servlet-class>editSupplierRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplierServlet</servlet-name>
        <servlet-class>editSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderProduct</servlet-name>
        <servlet-class>orderProductRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailOrder</servlet-name>
        <servlet-class>SendEmailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderProductRet</servlet-name>
        <servlet-class>orderProductRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailOrder</servlet-name>
        <servlet-class>sendEmailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllMedication</servlet-name>
        <servlet-class>viewAllMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toAddImage</servlet-name>
        <servlet-class>toAddImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImages</servlet-name>
        <servlet-class>uploadImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toEditImage</servlet-name>
        <servlet-class>toEditImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedStaffServlet</servlet-name>
        <servlet-class>viewSelectedStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllMedicationAdmin</servlet-name>
        <servlet-class>viewAllMedicationAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedStaffServlett</servlet-name>
        <servlet-class>servlet.viewSelectedStaffServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrder</servlet-name>
        <servlet-class>EditOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderRet</servlet-name>
        <servlet-class>EditOrderRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>deleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrder</servlet-name>
        <servlet-class>viewAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>createOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderr</servlet-name>
        <servlet-class>EditOrderr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.Controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderRett</servlet-name>
        <servlet-class>EditOrderRett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrderr</servlet-name>
        <servlet-class>deleteOrderr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrderr</servlet-name>
        <servlet-class>viewAllOrderr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertOrderrr</servlet-name>
        <servlet-class>insertOrderrr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllSales</servlet-name>
        <servlet-class>viewAllSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSales</servlet-name>
        <servlet-class>deleteSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSales</servlet-name>
        <servlet-class>InsertSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSales</servlet-name>
        <servlet-class>EditSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSalesRet</servlet-name>
        <servlet-class>EditSalesRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllSalesAdmin</servlet-name>
        <servlet-class>viewAllSalesAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrderrAdmin</servlet-name>
        <servlet-class>viewAllOrderrAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewMedication</servlet-name>
        <url-pattern>/viewMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedMedication</servlet-name>
        <url-pattern>/viewSelectedMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSupplier</servlet-name>
        <url-pattern>/viewSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSupplier</servlet-name>
        <url-pattern>/addSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTry</servlet-name>
        <url-pattern>/viewTry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSuppliers</servlet-name>
        <url-pattern>/addSuppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicationRet</servlet-name>
        <url-pattern>/EditMedicationRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedication</servlet-name>
        <url-pattern>/EditMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSupplierEdit</servlet-name>
        <url-pattern>/viewSupplierEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedication</servlet-name>
        <url-pattern>/UpdateMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllSupplier</servlet-name>
        <url-pattern>/viewAllSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSupplier</servlet-name>
        <url-pattern>/deleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplier</servlet-name>
        <url-pattern>/editSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplierServlet</servlet-name>
        <url-pattern>/editSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderProduct</servlet-name>
        <url-pattern>/orderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailOrder</servlet-name>
        <url-pattern>/SendEmailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderProductRet</servlet-name>
        <url-pattern>/orderProductRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailOrder</servlet-name>
        <url-pattern>/sendEmailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllMedication</servlet-name>
        <url-pattern>/viewAllMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toAddImage</servlet-name>
        <url-pattern>/toAddImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadImages</servlet-name>
        <url-pattern>/uploadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toEditImage</servlet-name>
        <url-pattern>/toEditImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedStaffServlet</servlet-name>
        <url-pattern>/viewSelectedStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllMedicationAdmin</servlet-name>
        <url-pattern>/viewAllMedicationAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedStaffServlett</servlet-name>
        <url-pattern>/viewSelectedStaffServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrder</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderRet</servlet-name>
        <url-pattern>/EditOrderRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrder</servlet-name>
        <url-pattern>/viewAllOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderr</servlet-name>
        <url-pattern>/EditOrderr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderRett</servlet-name>
        <url-pattern>/EditOrderRett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrderr</servlet-name>
        <url-pattern>/deleteOrderr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrderr</servlet-name>
        <url-pattern>/viewAllOrderr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertOrderrr</servlet-name>
        <url-pattern>/insertOrderrr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllSales</servlet-name>
        <url-pattern>/viewAllSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSales</servlet-name>
        <url-pattern>/deleteSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSales</servlet-name>
        <url-pattern>/InsertSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSales</servlet-name>
        <url-pattern>/EditSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSalesRet</servlet-name>
        <url-pattern>/EditSalesRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllSalesAdmin</servlet-name>
        <url-pattern>/viewAllSalesAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrderrAdmin</servlet-name>
        <url-pattern>/viewAllOrderrAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
