<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>viewMedication</servlet-name>
        <servlet-class>viewAllMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedMedication</servlet-name>
        <servlet-class>viewSelectedMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSupplier</servlet-name>
        <servlet-class>viewSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSupplier</servlet-name>
        <servlet-class>addSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTry</servlet-name>
        <servlet-class>viewTry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSuppliers</servlet-name>
        <servlet-class>addSuppliers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicationRet</servlet-name>
        <servlet-class>EditMedicationRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedication</servlet-name>
        <servlet-class>EditMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSupplierEdit</servlet-name>
        <servlet-class>viewSupplierEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedication</servlet-name>
        <servlet-class>UpdateMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllSupplier</servlet-name>
        <servlet-class>viewAllSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSupplier</servlet-name>
        <servlet-class>deleteSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplier</servlet-name>
        <servlet-class>editSupplierRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editSupplierServlet</servlet-name>
        <servlet-class>editSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderProduct</servlet-name>
        <servlet-class>orderProductRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailOrder</servlet-name>
        <servlet-class>SendEmailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderProductRet</servlet-name>
        <servlet-class>orderProductRet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailOrder</servlet-name>
        <servlet-class>sendEmailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllMedication</servlet-name>
        <servlet-class>viewAllMedication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewMedication</servlet-name>
        <url-pattern>/viewMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedMedication</servlet-name>
        <url-pattern>/viewSelectedMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSupplier</servlet-name>
        <url-pattern>/viewSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSupplier</servlet-name>
        <url-pattern>/addSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTry</servlet-name>
        <url-pattern>/viewTry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSuppliers</servlet-name>
        <url-pattern>/addSuppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicationRet</servlet-name>
        <url-pattern>/EditMedicationRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedication</servlet-name>
        <url-pattern>/EditMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSupplierEdit</servlet-name>
        <url-pattern>/viewSupplierEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedication</servlet-name>
        <url-pattern>/UpdateMedication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllSupplier</servlet-name>
        <url-pattern>/viewAllSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSupplier</servlet-name>
        <url-pattern>/deleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplier</servlet-name>
        <url-pattern>/editSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSupplierServlet</servlet-name>
        <url-pattern>/editSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderProduct</servlet-name>
        <url-pattern>/orderProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailOrder</servlet-name>
        <url-pattern>/SendEmailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderProductRet</servlet-name>
        <url-pattern>/orderProductRet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailOrder</servlet-name>
        <url-pattern>/sendEmailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllMedication</servlet-name>
        <url-pattern>/viewAllMedication</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
