
/* 
    Created on : 20 May 2024, 12:25:07 pm
    Author     : Fareed Dinn
*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:helvetica;
}
@font-face{
    font-family: helvetica;
    src:url("font\Helvetica.ttf");
}
.content{
    display:flex;
    min-height:100vh;
    max-width: 100%;
}

.side {
    float:left;
}
.tajuk{
    padding:3vw;
    padding-bottom: 0;
}
.box-menu{
    margin:5vw;
    background-color:#caf0f8;
    border-radius:15px;
    box-shadow: 0px 0px 5px 1px black;
    margin-left:10vw;
    margin-right:10vw;
    width:auto;
    height:auto;
    padding-top:0;
    padding-bottom:2vw;
}
.stockintf{
    margin:3vw;
    display:flex;
    justify-content:center;
}

.fontPr{
    font-size:1.3vw;
    margin:15px;
    margin-left:0;
    font-weight:650;
}
.inpPr{
    font-size: 1.3vw;
    margin:15px;
    margin-right:5px;
    padding:8px;
    border-radius:10px;
}
.btnPr{
    font-size:1vw;
    padding:7px;
    border-radius:10px;
}
table{
    margin-top:0;
}
th{
    padding:3.7vh;
    font-size:1.1vw;
}
td{
    padding:3vh;
    font-size:1vw;
    text-align: center;
}
a{
    text-decoration: none;
}
.btnedit{
    background-color:#A1DD70;
    color:black;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.btnedit:hover{
    background-color:#5DEBD7;
    color:white;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.btndel{
    background-color:#FF0000;
    color:white;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.btndel:hover{
    background-color:#7D0A0A;
    color:white;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.btnodr{
    background-color:#40A2E3;
    color:white;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.btnodr:hover{
    background-color:#00215E;
    color:white;
    border:1px black solid;
    padding:10px;
    border-radius: 7px;
}
.gambar-display{
    width:200px;
    height:200px;
}